doctype html
html(lang="en", data-ng-app="myapp")
    head
        include ./head/meta.jade
        include ./head/title.jade
        include ./head/favicon.jade
        include ./head/styles.jade
        
        
    body
        include ./conditionals/browserhappy.jade
        
        
        include ./layout/fluid/page.jade
        
        
            
        //scripts
        include ./footer/scripts.jade
        
        
