//document meta information
meta(charset="UTF-8")
meta(name="description", content="Mean Project 2")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="robots" content="index, follow")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="author", content="Anthony Turrigiano<anthony.turrigiano@gmail.com>, Alex Cohen<iamalexcohen@gmail.com>, John Wu<jwu5095@gmail.com>, Kunal Saddi<kunalsaddi@gmail.com>, Kenoldp<kenold@wavetech-solutions.com>")
meta(name="copyright", content="The Mean Group")
meta(name="keywords", content="Mean App, Mean, App, Project, Community, Social")
        